@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4F260B;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    scroll-behavior: smooth;
    font-feature-settings: "palt";
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* スライダー調整 */
.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
    color: #fff;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-arrow {
    width: 50px;
    height: 50px;
    z-index: 1;
    transition: opacity 0.5s;
}

  /* 共通設定 */

.slick-next::before,
.slick-next::after,
.slick-prev::before,
.slick-prev::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    content: "";
}

.slick-next::after,
.slick-prev::after {
    width: 26px;
    height: 26px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
}

  /* next */

.slick-next {
    right: 30px;
}

.slick-next::after {
    transform: translate(-50%,-50%) rotate(45deg);
}

  /* prev */

.slick-prev {
    left: 30px;
}

.slick-prev::after {
    transform: translate(-50%,-50%) rotate(-135deg);
}

/* light box */
.lb-data .lb-number {
    display: none !important;
}


/* ----------------
ヘッダー
--------------------*/

.header__wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 7% 0 3%;
}

.header__logo {
    width: 17%;
}

.header__pc-nav ul {
    display: flex;
}
.header__pc-nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.header__sp-nav,
.header__sp-btn {
    display: none;
}


/* ----------------
メイン
--------------------*/

main {
    background: #E8D9BF;
}

/* 各コンテンツの横幅 */

.catch,
.about,
.menu,
.event {
    max-width: 1000px;
    margin: 0 auto;
}

/* キャッチ */

.catch {
    padding: 100px 0 50px 0;
}

.catch p {
    text-align: center;
}

.catch__headline {
    font-size: 30px;
    margin-bottom: 48px;
}

.catch__copy {
    font-size: 82px;
    line-height: 1.17;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
}

.catch__body {
    font-size: 23px;
    line-height: 1.65;
}

/* ABOUT US */

.about {
    padding: 50px 0 40px 0;
}

.about__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__img {
    width: 50%;
}

.about__img img {
    border-radius: 0 0 82px 0;
}

.about__textBox {
    width: 42%;
    padding-right: 10px;
}

.about__ttl {
    width: 65%;
    margin: 0 0 50px 0;
}

.about__catch {
    font-size: 44px;
    line-height: 1.38;
    margin-bottom: 20px;
    font-weight: normal;
}

.about__text {
    line-height: 1.6;
    font-size: 16px;
}


/* menu */

.menu {
    padding: 40px 10px;
}

.menu__ttl {
    width: 15%;
    margin: 0 auto 30px;
}

.menu__wrap {
    display: flex;
    justify-content: space-between;
}

.menu__imgBox {
    width: 30%;
}

.menu__imgBox img {
    width: 100%;
    border-radius: 0 40px 0 0;
}

.menu__headline {
    font-size: 38px;
    color: #d30202;
    margin: -15px 0 25px 14px;
    font-weight: normal;
}

.menu__text {
    font-size: 17px;
    line-height: 1.4;
}

/* gallery */

.gallery {
    padding: 40px 0 30px 0;
}

.gallery__ttl {
    width: 23%;
    max-width: 245px;
    margin: 0 auto 20px;
}

.gallery__slider {
    display: flex;
}

.gallery__img img {
    width: 100%;
}


/* EVENT */

.event {
    padding: 30px 10px;
}

.event__ttl {
    width: 17%;
    margin: 0 auto 30px;
}

.event__list {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: solid 3.6px #4F260B;
    padding: 40px;
}

.event__item {
    margin-bottom: 27px;
    font-size: 23px;
}

.event__item:last-child {
    margin-bottom: 0;
}

.event__detail {
    margin-left: 50px;
    text-decoration: underline;
}

/* ACCESS */

.access {
    padding-top: 30px;
}

.access__ttl {
    width: 19%;
    max-width: 214px;
    margin: 0 auto 40px;
}

.access iframe {
    width: 100%;
    height: 471px;
    vertical-align: bottom;
}

/* ----------------
フッター
--------------------*/

.footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 10px;
}

.footer__wrap {
    display: flex;
    margin-bottom: 70px;
}

.footer__logo {
    width: 226px;
    margin-right: 60px;
}

.footer__item {
    font-size: 20px;
    line-height: 1.95;
    color: #000;
}

.footer__copy {
    text-align: center;
    font-size: 16px;
    color: #000;
}

/* ページのトップに戻るボタン */
.pageTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 125px;
}

.spOnly {
    display: none;
}


@media screen and (min-width:768px) and (max-width: 1100px) {

    .spOnly {
        display: none;
    }

    /* ----------------
    ヘッダー
    --------------------*/

    .header__slider source {
        width: 100%;
    }

    .header__logo {
        width: 27%;
    }

    .header__pc-nav {
        display: none;
    }

    /* ハンバーガー */
    .header__sp-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .header__sp-btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .header__sp-btn span::before,
    .header__sp-btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .header__sp-btn span::before {
        bottom: 10px;
    }

    .header__sp-btn span::after {
        top: 10px;
    }

    /* ハンバーガを閉じる */
    .header__sp-btn.open span {
        background: transparent;
    }

    .header__sp-btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .header__sp-btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .header__sp-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .header__sp-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .header__sp-nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }

    /* キャッチ */

    .catch {
        padding-left: 10px;
        padding-right: 10px;
    }

    .catch__copy {
        font-size: 70px;
    }

    .catch__body {
        font-size: 22px;
    }

    /* About us */

    .about__ttl {
        margin-bottom: 25px;
    }

    .about__catch {
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {

    .spOnly {
        display: block;
    }

    .pcOnly {
        display: none;
    }

    /* スライダー調整 */

    .slick-next::after,
    .slick-prev::after {
        width: 20px;
        height: 20px;
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .slick-next {
        right: 18px;
    }

    .slick-prev {
        left: 18px;
    }

    .slick-next::after {
        right: 2px;
    }

    /* ----------------
    ヘッダー
    --------------------*/

    .header__slider img {
        width: 100%;
    }

    .header__logo {
        width: 55%;
    }

    .header__pc-nav {
        display: none;
    }

    /* ハンバーガー */
    .header__sp-btn {
        display: block;
        position: absolute;
        top: 20px;
        right: 25px;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .header__sp-btn span {
        display: block;
        position: relative;
        top: 10px;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .header__sp-btn span::before,
    .header__sp-btn span::after {
        content: "";
        display: block;
        position: absolute;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }

    .header__sp-btn span::before {
        bottom: 10px;
    }

    .header__sp-btn span::after {
        top: 10px;
    }

    /* ハンバーガを閉じる */
    .header__sp-btn.open span {
        background: transparent;
    }

    .header__sp-btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .header__sp-btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .header__sp-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }

    .header__sp-nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .header__sp-nav ul li {
        padding: 20px 0;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }


    /* ----------------
    メイン
    --------------------*/

    /* キャッチ */

    .catch {
        padding: 40px 0 54px 0;
    }

    .catch__headline {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .catch__copy {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin-bottom: 12px;
    }

    .catch__body {
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.1em;
    }

    /* About us */

    .about {
        padding: 0 0 50px 0;
    }

    .about__wrap {
        display: block;
    }

    .about__textBox {
        width: 100%;
        padding-right: 0;
    }

    .about__ttl {
        width: 43%;
        margin: 0 auto 10px auto;
    }

    .about__img {
        width: 100%;
        margin-bottom: 35px;
    }

    .about__img img {
        border-radius: 0;
        width: 100%;
    }

    .about__catch,
    .about__text {
        padding: 0 18px;
    }

    .about__catch {
        font-size: 36px;
        margin-bottom: 18px;
        line-height: 1.25;
    }

    .about__text {
        line-height: 1.75;
    }

    /* menu */

    .menu {
        padding: 0 0 42px 0;
    }

    .menu__ttl {
        width: 24%;
        margin-bottom: 17px;
    }

    .menu__wrap {
        flex-direction: column;
    }

    .menu__imgBox {
        width: 80%;
        margin: 0 auto 60px auto;
    }

    .menu__headline {
        margin-bottom: 17px;
        margin-left: 10px;
    }

    .menu__text {
        line-height: 1.58;
    }

    /* gallery */

    .gallery {
        padding: 0 0 23px 0;
    }

    .gallery__ttl {
        width: 38%;
    }

    /* event */
    .event {
        padding: 0 0 27px 0;
    }

    .event__ttl {
        width: 27%;
        margin-bottom: 16px;
    }

    .event__list {
        display: block;
        margin: 0 18px;
        padding: 20px 28px;
    }

    .event__item {
        font-size: 16px;
    }

    .event__item time {
        display: block;
        margin-bottom: 5px;
    }

    .event__detail {
        margin-left: 0px;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* access */
    .access {
        padding: 0;
    }

    .access iframe {
        height: 190px;
    }

    .access__ttl {
        width: 33%;
        margin-bottom: 10px;
    }

    /* ----------------
    フッター
    --------------------*/
    .footer {
        padding: 40px 20px;
    }

    .footer__wrap {
        display: block;
        margin-bottom: 42px;
    }

    .footer__logo {
        margin-bottom: 20px;
    }

    .footer__item {
        font-size: 18px;
        line-height: 1.72;
    }


    /* ページのトップに戻るボタン */
    .pageTop {
        width: 100px;
        bottom: 5px;
        right: 15px;
    }
}
